<%- include("header.ejs") %>

<link rel="stylesheet" type="text/css" href="/main.css">
<section id="home" class="section container">
    <h1 class="tag">Contact</h1>
    <p class="content">Email: d.staletovikj@gmail.com</p>
    <p class="content">LinkedIn: <a href="https://www.linkedin.com/in/darko-staletovikj/" target="_blank">https://www.linkedin.com/in/darko-staletovikj/</a></p>
</section>
