<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darko's Blog</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <header id="header">
        <nav id="navbar" class="navbar">
            <div class="logo">Darko's Blog </div>
            <ul class="list">
                <a action="/home" method="GET" href="/">Home</a>
                <a action="/compose" method="GET" href="/compose">Compose</a>
                <a action="/contact" method="GET" href="/contact">Contact</a>
            </ul>
        </nav>
    </header>
</body>
</html>
